/* SplashScreen.css */
.splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, orange, orangered);
    color: white;
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    animation: fadeOut 0.5s ease-out forwards;
}

/* Animation de disparition */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
